<form class="form-signin" [formGroup]="form" (ngSubmit)="onSubmit()">
  <img class="mb-4 signin-logo">
  <h1 class="h3 mb-3 font-weight-normal login-header">Please sign in</h1>
  <div *ngIf="isSubmittedError"
       class="invalid-feedback"
       [ngStyle]="{'display': isSubmittedError ? 'inline-block' : 'none'}">
    <span class="text-danger forbidden">User name or password is wrong!</span>
  </div>
  <label for="input-name" class="sr-only">User Name</label>
  <input type="text"
         id="input-name"
         class="form-control"
         [ngClass]="{'is-invalid': isSubmitted && f.name.errors}"
         placeholder="User name"
         required
         autofocus
         formControlName="name">
  <div *ngIf="isSubmitted && f.name.errors" class="invalid-feedback">
    <span class="text-danger" *ngIf="f.name.errors.required">Name is required<br></span>
    <span class="text-danger" *ngIf="f.name.errors.minlength">
      At least {{f.name.errors.minlength.requiredLength}} characters are required<br>
    </span>
    <span class="text-danger" *ngIf="f.name.errors.maxlength">
      At most {{f.name.errors.maxlength.requiredLength}} characters are supported<br>
    </span>
    <span class="text-danger" *ngIf="f.name.errors.pattern">
      Only alphabet, numbers, hyphen and underscore are supported
    </span>
  </div>
  <label for="input-password" class="sr-only">Password</label>
  <input type="password"
         id="input-password"
         class="form-control"
         [ngClass]="{'is-invalid': isSubmitted && f.password.errors}"
         placeholder="Password"
         required
         formControlName="password">
  <div *ngIf="isSubmitted && f.password.errors" class="invalid-feedback">
    <span class="text-danger" *ngIf="f.password.errors.required">Password is required<br></span>
    <span class="text-danger" *ngIf="f.password.errors.minlength">
      At least {{f.password.errors.minlength.requiredLength}} characters are required
    </span>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a class="btn btn-lg btn-info btn-block btn-register"
     (click)="redirectToRegister()">Register</a>
  <p class="mt-5 mb-3 text-muted copyright">&copy; 2020-</p>
</form>
