<div class="log-chart">
  <canvas id="chart-canvas" style="width: 100%;height: 100%;"></canvas>
</div>
<div class="log-table">
  <mat-table class="table table-bordered table-responsive shadow"
             [dataSource]="userLogDataSource"
             matSort
             #sortTable="matSort"
             (matSortChange)="doSort($event)">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.user.username }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="authority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Authority</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.user.authorityName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="loggedTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Logged Time</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.loggedTime | date: 'yyyy-MM-dd hh:mm:ss' }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let userLogRow; columns: columns"></mat-row>
  </mat-table>
</div>
