<div class="log-chart">
  <svg id="user-log" class="shadow"></svg>
</div>
<div class="log-table">
  <mat-paginator #paginator
                 [length]="count"
                 [pageIndex]="0"
                 [pageSize]="6"
                 [pageSizeOptions]="[3, 6, 9]"
                 showFirstLastButtons></mat-paginator>
  <div *ngIf="loading">
    <mat-spinner class="center"></mat-spinner>
  </div>
  <mat-table class="table table-bordered table-responsive shadow"
             [dataSource]="userLogDataSource"
             matSort
             #sortTable="matSort">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.user.username }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="authority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Authority</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.user.authorityName }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="loggedTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Logged Time</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.loggedTime | date: 'yyyy-MM-dd hh:mm:ss' }}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let userLogRow; columns: columns"></mat-row>
  </mat-table>
</div>
