$commonImagePath: '../../assets/images/common';

.log-chart {
    width: 80%;
    height: 300px;
    margin-bottom: 40px;
}
svg#user-log {
    padding: 10px 10px 10px 10px;
    border: 1px solid gainsboro;
    background-color: white;
}
.log-table {
    width: 80%;
    height: 250px;
    text-overflow: ellipsis;
}
mat-header-row {
    background-color: powderblue;
    font-size: 20px;
    font-weight: bold;
}
.table {
    max-height: 370px;
    overflow-y: auto;
}