$accountImgPath: "/assets/images/account/";
$commonImgPath: "/assets/images/common/";

.register-logo {
    width: 72;
    height: 72;
    alt: "";
    src: "";
}
.register-form-header {
    border-bottom: solid #007bff;
}
.internal-server-error {
    font-size: 16px;
}
.form-register {
    width: 100%;
    max-width: 330px;
    padding: 0px 15px 15px 15px;
    margin: auto;
    padding-top: 10%;
}
.form-register .checkbox {
    font-weight: 400;
}
.form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    width: 250px;

    &.user,
    &.email,
    &.password {
        float: right;
        margin-bottom: 5px;
    }

    &.confirm-password {
        float: right;
        margin-bottom: 10px;
    }
}
.form-register .form-control:focus {
    z-index: 2;
}
.form-register input[type="text"] {
    margin-bottom: -1px;
}
.copyright {
    text-align: center;
}
.btn-register,
.btn-register:hover {
    color: white;
}

/***************************************
 * Form invalid
 ***************************************/
$backgroundRepeat: no-repeat;
$backgroundPosition: center;
$backgroundDisplay: block;
$backgroundHeight: 24px;

.user-icon,
.email-icon,
.password-icon {
    width: 40px;
}
.user-icon {
    background-image: url($accountImgPath + "user_circle.svg");
    background-repeat: $backgroundRepeat;
    background-position: $backgroundPosition;
    display: $backgroundDisplay;
    height: $backgroundHeight;
}
.email-icon {
    background-image: url($accountImgPath + "email.svg");
    background-repeat: $backgroundRepeat;
    background-position: $backgroundPosition;
    display: $backgroundDisplay;
    height: $backgroundHeight;
}

.password-icon {
    background-image: url($accountImgPath + "lock.svg");
    background-repeat: $backgroundRepeat;
    background-position: $backgroundPosition;
    display: $backgroundDisplay;
    height: $backgroundHeight;
}
.back-to-login {
    &::before {
        content: url($commonImgPath + "arrow_back.svg");
        position: relative;
        top: 5px;
    }
}
/***************************************
 * Form invalid
 ***************************************/
table.confirmPasswordError {
    margin-bottom: 10px;
}

.register {
    &-name-invalid,
    &-email-invalid,
    &-password-invalid,
    &-confirm-password-invalid {
        padding-left: 5px;
        background-color: transparent;

        .text-danger {
            font-size: 16px;

            &::before {
                content: "* ";
            }
        }
    }
}