<form class="form-register" [formGroup]="form" (ngSubmit)="onSubmit()">
  <img class="mb-4 register-logo">
  <h1 class="h3 mb-3 font-weight-normal register-form-header">Welcome to register</h1>
  <div *ngIf="isSubmittedError"
       class="invalid-feedback"
       [ngStyle]="{'display': isSubmittedError ? 'inline-block' : 'none'}">
    <span class="text-danger internal-server-error">Internal Server Error</span>
  </div>
  <table class="form-item" [ngClass]="{'confirmPasswordError': isSubmitted && f.confirmPassword.errors}">
    <tbody class="form-body">
      <tr class="user" [ngClass]="{'invalid': isSubmitted && f.name.errors}">
        <td>
          <span class="user-icon"></span>
        </td>
        <td>
          <input type="text"
              id="input-name"
              class="form-control user"
              [ngClass]="{'is-invalid': isSubmitted && f.name.errors}"
              placeholder="User name"
              required
              autofocus
              formControlName="name">
        </td>
      </tr>
      <tr *ngIf="isSubmitted && f.name.errors">
        <td colspan="2">
          <div class="register-name-invalid">
            <span class="text-danger" *ngIf="f.name.errors.required">Name is required<br></span>
            <span class="text-danger" *ngIf="f.name.errors.minlength">
              At least {{f.name.errors.minlength.requiredLength}} characters required<br>
            </span>
            <span class="text-danger" *ngIf="f.name.errors.maxlength">
              At most {{f.name.errors.maxlength.requiredLength}} characters are supported<br>
            </span>
            <span class="text-danger" *ngIf="f.name.errors.pattern">
              Only alphabet, numbers, hyphen and underscore are supported
            </span>
          </div>
        </td>
      </tr>
      <tr class="email" [ngClass]="{'invalid': isSubmitted && f.email.errors}">
        <td>
          <span class="email-icon"></span>
        </td>
        <td>
          <input type="email"
              id="input-email"
              class="form-control email"
              [ngClass]="{'is-invalid': isSubmitted && f.email.errors}"
              placeholder="Email"
              required
              formControlName="email">
        </td>
      </tr>
      <tr *ngIf="isSubmitted && f.email.errors">
        <td colspan="2">
          <div class="register-email-invalid">
            <span class="text-danger" *ngIf="f.email.errors.required">Email is required<br></span>
            <span class="text-danger" *ngIf="f.email.errors.email">Wrong format</span>
          </div>
        </td>
      </tr>
      <tr class="password" [ngClass]="{'invalid': isSubmitted && f.password.errors}">
        <td>
          <span class="password-icon"></span>
        </td>
        <td>
          <input type="password"
              id="input-password"
              class="form-control password"
              [ngClass]="{'is-invalid': isSubmitted && f.password.errors}"
              placeholder="Password"
              required
              formControlName="password">
        </td>
      </tr>
      <tr *ngIf="isSubmitted && f.password.errors">
        <td colspan="2">
          <div class="register-password-invalid">
            <span class="text-danger" *ngIf="f.password.errors.required">Password is required<br></span>
            <span class="text-danger" *ngIf="f.password.errors.minlength">
              At least {{f.password.errors.minlength.requiredLength}} characters are required<br>
            </span>
            <span class="text-danger" *ngIf="f.password.errors.maxlength">
              At most {{f.password.errors.maxlength.requiredLength}} characters are supported
            </span>
          </div>
        </td>
      </tr>
      <tr class="confirm-password" [ngClass]="{'invalid': isSubmitted && f.confirmPassword.errors}">
        <td>
          <span class="password-icon"></span>
        </td>
        <td>
          <input type="password"
              id="input-confirm-password"
              class="form-control confirm-password"
              [ngClass]="{'is-invalid': isSubmitted && f.confirmPassword.errors}"
              placeholder="Confirm password"
              required
              formControlName="confirmPassword">
        </td>
      </tr>
      <tr *ngIf="isSubmitted && f.confirmPassword.errors">
        <td colspan="2">
          <div class="register-confirm-password-invalid">
            <span class="text-danger" *ngIf="f.confirmPassword.errors.required">Confirm password is required<br></span>
            <span class="text-danger" *ngIf="f.confirmPassword.errors.noMatch">Passwords do not match</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <a class="back-to-login" routerLink='login'>Back to login</a>
  <p class="mt-5 mb-3 text-muted copyright">&copy; 2020-</p>
</form>